<%= form_for @artist, html: { multipart: true } do |f| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% @artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :rmore %><br>
    <%= f.text_area :rmore, class: "form-control" %>    
  </div>

  <div class="form-group">
    <%= f.label :specialization %><br>
    <%= f.select :specialization, [ 'Painter', 'Sculptor', 'Photographer', 'Enamel'], class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :country %><br>
    <%= f.select :country, [ 'Georgia', 'Armenia', 'Azerbaijan', 'Turkey', 'Russia', 'Ukraine', 'USA' ], class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :manager %><br>
    <%= f.text_field :manager, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :secondary_phone_number %><br>
    <%= f.text_field :secondary_phone_number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :secondary_email %><br>
    <%= f.text_field :secondary_email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>