<% if current_user.try(:admin?) %>
  <%= link_to 'New Artist', new_artist_path, style: "font-weight:bold;" %>
  <div style='width:100%; border-top:solid; margin-bottom:20px; margin-top:20px;'></div>
<% end %>

<div class='row' style='margin-bottom:10px; margin-top:20px;'>
  <div class='col-md-8'>
    <p style="display:inline-block; font-weight:bold; font-size:110%; margin-right:10px;">Browse:</p>
    <% @alphabet.each do |character| %>
      <%= link_to character, artists_path(:start => character), style: 'font-weight:bold; margin-right:5px;' %>
    <% end %>
  </div>
  <div class='col-md-4'>
  </div>
</div>

<% if @artists.present? %>
  <div id="container">
    <% @artists.each do |artist| %>
      <div class='item panel panel-default'>
        <%= link_to image_tag(artist.image.url(:thumb)), artist %>
        <div class="panel-body">
            <p class='artist-name'><%= artist.name %></p>
          <div class="actions">
            <% if current_user.try(:admin?) %>
            <%= link_to 'Edit', edit_artist_path(artist) %>
            <%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  We don't yet have an artist with a name that starts with <strong><%= params[:start] %></strong>.
<% end %>

<script>
var isotopeLaunch = function(){
  var $container = $('#container');
    // init
    $container.isotope({
      // options
      itemSelector: '.item',
      layoutMode: 'masonry',
      masonry: {
        columnWidth: 50,
        isFitWidth: true
      }
    });
};
imagesLoaded( 'img', isotopeLaunch);</script>