<% if current_user.try(:admin?) %>
  <%= link_to 'New Artist', new_artist_path, style: "font-weight:bold;" %>
  <div style='width:100%; border-top:solid; margin-bottom:10px; margin-top:10px;'></div>
<% end %>

<div id='fixed-top' class='row' style='margin-bottom:0; padding-top:15px; background:white;'>
  <div class='col-md-8'>
    <p style="display:inline-block; font-weight:bold; font-size:110%; margin-right:10px; margin-bottom:20px;">Browse:</p>
    <% @alphabet.each do |character| %>
      <%= link_to character, artists_path(:start => character), style: 'font-weight:bold; margin-right:5px;' %>
    <% end %> | <%= link_to 'Clear', artists_path, style: 'font-weight:bold; margin-right:5px; color:#484848;' %>
    <div class="dropdown" style='display:inline-block; margin-left:10px;'>
      <button class='btn btn-default' id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Specialization
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li style='text-align:center;'><%= link_to 'Painter', artists_path(spec: 'Painter'), style: 'color:#337ab7; font-weight:bold;' %></li>
        <li class='divider'></li>
        <li style='text-align:center;'><%= link_to 'Jewellery', artists_path(spec: 'Enamel'), style: 'color:#337ab7; font-weight:bold;' %></li>
        <li class='divider'></li>
        <li style='text-align:center;'><%= link_to 'Textile', artists_path(spec: 'Textile'), style: 'color:#337ab7; font-weight:bold;' %></li>
        <li class='divider'></li>
        <li style='text-align:center;'><%= link_to 'Sculptor', artists_path(spec: 'Sculptor'), style: 'color:#337ab7; font-weight:bold;' %></li>
      </ul>
    </div>
  </div>
  <div class='col-md-4'>
    <div style='width:100%; margin-top:-5px; margin-bottom:10px;'>
      <%= search_form_for @q, html: { class: 'input-group', style: 'width:200px; margin-left:auto; margin-right:auto;'} do |f| %>
        <span class="input-group-btn">
          <button type='submit;' class="btn btn-default" type="button" style='-webkit-border-top-right-radius: 0px;-webkit-border-bottom-right-radius: 0px;-moz-border-radius-topright: 0px;-moz-border-radius-bottomright: 0px;border-top-right-radius: 0px;border-bottom-right-radius: 0px; border-right:none;'><i class="fa fa-search fa-lg"></i></button>
        </span><%= f.search_field :name_cont, placeholder: 'Search...', class: 'form-control', style: 'margin-left:-1px;' %>
      <% end %>
    </div>
  </div>
</div>

<div id='loading' style='margin-left:auto; margin-right:auto; margin-top:20px; width:180px; height:130px; background-image:url("../assets/loading.gif"); background-repeat: no-repeat; background-position:-200px -150px;'>
</div>

<% if @artists.present? %>
  <div id='after-load' style='display:none;'>
    <div id="container" style='margin-left:auto; margin-right:auto;'>
      <% @artists.each do |artist| %>
        <div class='artist' style='text-align:center; margin-right:15px; margin-left:15px; margin-bottom:50px; width:200px;'>
          <%= link_to image_tag(artist.image.url(:thumb)), artist %>
          <div class="panel-body">
              <%= link_to artist, style: 'text-decoration:none; color: #484848;' do %><p class='artist-name'><%= artist.name %></p><% end %>
            <div class="actions">
              <% if current_user.try(:admin?) %>
              <%= link_to 'Edit', edit_artist_path(artist) %>
              <%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div style='text-align:center;'>
       <%= will_paginate @artists, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
<% else %>
  <script>
    var n = noty({
      text: '<p style="width:100%; margin-top:15px; margin-bottom:15px; text-align:center; font-weight:bold; font-size:120%;">We do not have such artist.</p>',
      layout: 'topRight',
      type: 'information',
      animation: {
        open: 'animated fadeInRight', // Animate.css class names
        close: 'animated flipOutY', // Animate.css class names
        speed: 500 // unavailable - no need
      }
    });
    </script>
<% end %>

<script>
var isotopeLaunch = function(){
  var $container = $('#container');
    // init

    $container.isotope({
      // options
      itemSelector: '.artist',
      layoutMode: 'fitRows',
    });
};
imagesLoaded( 'img', function(){
  $('#loading').hide();
  $('#after-load').show();
  isotopeLaunch();
});

 fixed_auth = $('#fixed-top');
 offset_auth = $('#fixed-top').offset();
  $(window).scroll(function(e){
    width = $('#fixed-top').width();
    if ($(this).scrollTop() > offset_auth.top && fixed_auth.css('position') != 'fixed'){
      fixed_auth.css({'position': 'fixed', 'top': '0px', 'z-index': '1', 'width': width+'px'});
    }else if ($(this).scrollTop() < offset_auth.top && fixed_auth.css('position') == 'fixed' ){
      fixed_auth.css({'position': 'relative', 'border-bottom': 'none', 'z-index': '0'});
    }
  });
</script>