<% if current_user.try(:admin?) %>
	<%= link_to 'Edit', edit_artist_path(@artist) %> |
	<%= link_to 'Back', artists_path %>
	<div style='width:100%; border-top:solid; margin-bottom:20px; margin-top:20px;'></div>
<% end %>

<div class='container'>
	<div class='row'>
		<div class="col-md-4">
			<div class='author-image' oncontextmenu="return false">
				<%= image_tag @artist.image.url(:medium) %>
			</div>
		</div>
		<div class="col-md-8">
			<p style='font-weight:bold; font-size:200%;'><%= @artist.name %></p>
			<%= @artist.description.gsub(/\n/, '<br/>').html_safe %>
		</div>
	</div>
</div>

<div style='width:100%; border-top:solid; border-width:2px; margin-bottom:10px; margin-top:20px;'></div>

<p style='margin-bottom:20px; font-size:150%; font-weight:bold;'>
	Items By <%= @artist.name %>:
</p>
<div id="container">
  <% @items.each do |item| %>
    <div class='item panel panel-default'>
      <%= link_to image_tag(item.image.url(:medium)), item %>
      <div class="panel-body">
        	<%= link_to item.name, item, style: "text-decoration:none; color:black;" %><br/>
  		  <p class='author'><strong>Author:</strong> <%= link_to item.artist.name, item.artist, style: "text-decoration:none; color:black;" %></p>
  		  <p style='margin:0; display:block; float:right;'><strong>Price:</strong> <%= number_to_currency(item.price) %>$</p>
  			<div class="actions">
  			  <% if current_user.try(:admin?) %>
  				<br/><%= link_to 'Edit', edit_item_path(item) %>
  				<%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
  			  <% end %>
  			</div>
  	  </div>
    </div>
  <% end %>
</div>

<script>
var isotopeLaunch = function(){
  var $container = $('#container');
    // init
    $container.isotope({
      // options
      itemSelector: '.item',
      layoutMode: 'masonry',
      masonry: {
        columnWidth: 50,
        isFitWidth: true
      }
    });
};
imagesLoaded( 'img', isotopeLaunch);</script>