<% if current_user.try(:admin?) %>
	<%= link_to 'Edit', edit_artist_path(@artist) %> |
	<%= link_to 'Back', artists_path %>
	<div style='width:100%; border-top:solid; margin-top:20px;'></div>
<% end %>

<div class='container' style='margin-top:30px;'>
	<div class='row'>
		<div class="col-md-4" style='text-align:center;'>
			<div class='author-image' oncontextmenu="return false" style='margin-bottom:20px;'>
				<%= image_tag @artist.image.url(:medium) %>
			</div>
		</div>
		<div class="col-md-8">
			<p style='font-weight:bold; font-size:200%;'><%= @artist.name %></p>
			<%= @artist.description.gsub(/\n/, '<br/>').html_safe %>
      <% if @artist.rmore.present? %>
        <a href='#' data-toggle='modal' data-target='#readmore'>Read more...</a>
      <% end %>
		</div>
	</div>
</div>

<div style='width:100%; border-top:solid; border-width:2px; margin-bottom:10px; margin-top:20px;'></div>

<p style='margin-bottom:20px; font-size:150%; font-weight:bold;'>
	More From <%= @artist.name %>:
</p>

<div id="container" style='display:none;'>
  <% @items.each do |item| %>
    <div class='item' style='text-align:center; margin-right:20px; margin-left:20px; width:340px; margin-bottom:50px;'>
      <%= link_to item do %>
        <%= image_tag item.image.url(:medium), style: "margin-right:auto; margin-left:auto;-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75); margin-bottom:15px;" %>
      <% end %>
      <%= link_to item.name.split.map(&:capitalize)*' ', item, style: "text-decoration:none; color:#444; margin-left:auto; margin-right:auto; font-weight:bold; display:block; margin-bottom:0px;" %>
      <%= link_to item.artist.name.split.map(&:capitalize)*' ', item.artist, style: "text-decoration:none; color:#444; margin-left:auto; margin-right:auto; margin-top:0px; display:block;" %>
      <% if item.price.present? %><div class='price'><%= '$ '+item.price.to_s %></div><% end %>
    </div>
  <% end %>
</div>

<div class="modal fade" id="readmore" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="margin-top:100px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel" style="font-weight:700;"><%= @artist.name %></h4>
      </div>
      <div class="modal-body">
        <% if @artist.rmore.present? %>
          <%= @artist.rmore.gsub(/\n/, '<br/>').html_safe %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
var isotopeLaunch = function(){
  var $container = $('#container');
  $container.show();
    // init
    $container.isotope({
      // options
      itemSelector: '.item',
      layoutMode: 'fitRows',
    });
};
imagesLoaded( 'img', isotopeLaunch);
</script>