<%= form_for @carousel, html: { multipart: true } do |f| %>
  <% if @carousel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@carousel.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @carousel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :headline %><br>
    <%= f.text_field :headline, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

   <div class="form-group">
    <%= f.label :textcolor %>
    <%= f.select :textcolor, [['White', 0], ['Black', 1]] %>
  </div>

  <div class="form-group">
    <%= f.label :placerank %>
    <%= f.select :placerank, [['No Rank', 0], 1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %>
  </div>

  <div class="form-group">
    <%= f.select :item_id, options_from_collection_for_select(@items, "id", "name") %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>