<h1>Listing Carousels</h1>

<table>
  <thead>
    <tr>
      <th>Headline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carousels.each do |carousel| %>
      <tr>
        <td><%= carousel.headline %></td>
        <td><%= link_to 'Show', carousel %></td>
        <td><%= link_to 'Edit', edit_carousel_path(carousel) %></td>
        <td><%= link_to 'Destroy', carousel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New carousel', new_carousel_path %>
