<h1>Listing Carousels</h1>

<p style='font-size:150%;'>Active: <strong><%= @carousels.select{|x| x.placerank > 0}.length %></strong></p>

<table class='table table-stripped'>
  <thead>
    <tr>
      <th>Color</th>
      <th>Place</th>
      <th>Headline</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @carousels.each do |carousel| %>
      <tr <% if carousel.placerank > 0 %>style='color:#c0392b; font-weight:bold;'<% end %>>
        <td><% if carousel.textcolor == 0 %>White<% else %>Black<%end%></td>
        <td><% if carousel.placerank >0 %><%= carousel.placerank %><% else %>Inactive<% end %></td>
        <td><%= carousel.headline %></td>
        <td><%= link_to 'Show', carousel %> <%= link_to 'Edit', edit_carousel_path(carousel) %> <%= link_to 'Destroy', carousel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New carousel', new_carousel_path %>
