<h1>New Carousel</h1>

<%= render 'form' %>

<%= link_to 'Back', carousels_path %>

<%= form_tag('/carousels/new', :method => :get) do %>
	<%= select_tag :artist_id, options_from_collection_for_select(Artist.all, "id", "name") %>
	<%= submit_tag('Find') %>
<% end %>