<div id="filters">
  <p style='display:inline-block; margin-right:10px;'>Filter By:</p>
  <%= link_to "Without Filters", root_path, style: "display:inline-block; margin-right:10px;" %>
  <div class="dropdown" style='display:inline-block; margin-right:10px;'>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Type<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <% @item_types = ['Painting', 'Sculpture', 'Photograph', 'Enamel'] %>
      <% @item_types.each do |type| %>
        <li><%= link_to type, root_path(:item_type => type) %></li> 
      <% end %>
    </ul>
  </div>
  <div class="dropdown" style='display:inline-block; margin-right:10px;'>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Theme<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <% @themes = [ 'Landscape', 'Animals', 'Urban', 'Nature', 'People', 'Portrait', 'Food'] %>
      <% @themes.each do |theme| %>
        <li><%= link_to theme, root_path(:theme => theme) %></li> 
      <% end %>
    </ul>
  </div>
  <div class="dropdown" style='display:inline-block; margin-right:10px;'>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Shape<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <% @shapes = ['Square', 'Horizontal', 'Vertical'] %>
      <% @shapes.each do |shape| %>
        <li><%= link_to shape, root_path(:shape => shape) %></li> 
      <% end %>
    </ul>
  </div>
</div>


<div id="container">
  <% @items.each do |item| %>
    <div class='item panel panel-default'>
      <%= link_to image_tag(item.image.url(:medium)), item %>
      <div class="panel-body">
        	<%= link_to item.name, item, style: "text-decoration:none; color:black;" %><br/>
  		  <p class='author'><strong>Author:</strong> <%= link_to item.artist.name, item.artist, style: "text-decoration:none; color:black;" %></p>
        <p style='margin:0; display:block; float:right;'><strong>Price:</strong> <%= number_to_currency(item.price) %>$</p>
  			<div class="actions">
  			  <% if current_user.try(:admin?) %>
    				<br/><%= link_to 'Edit', edit_item_path(item) %>
    				<%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
  			  <% end %>
  			</div>
  	  </div>
    </div>
  <% end %>
</div>

<script>
var isotopeLaunch = function(){
  var $container = $('#container');
    // init
    $container.isotope({
      // options
      itemSelector: '.item',
      layoutMode: 'masonry',
      masonry: {
        columnWidth: 50,
        isFitWidth: true
      }
    });
};
imagesLoaded( 'img', isotopeLaunch);
</script>