<div id='fixed-top'>
<% unless @sort_by.present? %>
	<ol class="breadcrumb" style='margin-bottom:0;'>
	  <p style='display:inline-block; margin-bottom:0; margin-right:30px; font-weight:bold;'>PAINTING:</p>
	  <li><%= link_to 'All', paintings_path, style: 'font-weight:bold;' %></li>
	  <li><%= link_to 'Abstract', paintings_path(:theme => 'Abstract'), style: 'font-weight:bold;' %></li>
	  <li><%= link_to 'Animals', paintings_path(:theme => 'Animals'), style: 'font-weight:bold;' %></li>
	  <li><%= link_to 'Landscape', paintings_path(:theme => 'Landscape'), style: 'font-weight:bold;' %></li>
	  <li><%= link_to 'Modern', paintings_path(:theme => 'Modern'), style: 'font-weight:bold;' %></li>
	  <li><%= link_to 'Nature', paintings_path(:theme => 'Nature'), style: 'font-weight:bold;' %></li>
	  <li><%= link_to 'Portrait', paintings_path(:theme => 'Portrait'), style: 'font-weight:bold;' %></li>
	  <li><%= link_to 'Still Life', paintings_path(:theme => 'Still Life'), style: 'font-weight:bold;' %></li>
	  <li><%= link_to 'Urban', paintings_path(:theme => 'Urban'), style: 'font-weight:bold;' %></li>
	  <li><%= link_to 'Other', paintings_path(:theme => 'Other'), style: 'font-weight:bold;' %></li>
	  <li> <%= link_to 'Authors', artists_path(spec: 'Painter'), style: 'font-weight:bold; color:#484848;' %></li>
	  <div style='display:inline-block; float:right; margin-bottom:20px; background-color:whitesmoke;'>
	  	<% unless @theme.present? %>
		  	<%= form_tag(paintings_path, :id => "sort_select", method: :get) do %>
				<strong>Sort By:</strong> <%= select_tag :sort_by, options_for_select(['Random', 'Recently added', 'Price low to high', 'Price high to low', 'Most Comments', 'Most Votes', 'Discounted Items', 'Sold Items']), :onchange => ("$('#sort_select').submit()") %>
			<% end %>
		<% else %>
			<%= form_tag(paintings_path, :id => "sort_select", method: :get) do %>
				<strong>Sort By:</strong> <%= select_tag :sort_by, options_for_select(['Random', 'Recently added', 'Price low to high', 'Price high to low', 'Most Comments', 'Most Votes', 'Discounted Items', 'Sold Items']), :onchange => ("$('#sort_select').submit()") %>
				<%= hidden_field_tag :theme, @theme %>
			<% end %>
		<% end %>
	  </div>
	</ol>
<% else %>
	<ol class="breadcrumb" style='margin-bottom:0;'>
	  <p style='display:inline-block; margin-bottom:0; margin-right:30px; font-weight:bold;'>PAINTING:</p>
	  <li><%= link_to 'All', paintings_path, style: 'font-weight:bold;' %></li>
	  <li><%= link_to 'Abstract', paintings_path(:theme => 'Abstract', :sort_by => @sort_by), style: 'font-weight:bold;' %></li>
	  <li><%= link_to 'Animals', paintings_path(:theme => 'Animals', :sort_by => @sort_by), style: 'font-weight:bold;' %></li>
	  <li><%= link_to 'Landscape', paintings_path(:theme => 'Landscape', :sort_by => @sort_by), style: 'font-weight:bold;' %></li>
	  <li><%= link_to 'Modern', paintings_path(:theme => 'Modern', :sort_by => @sort_by), style: 'font-weight:bold;' %></li>
	  <li><%= link_to 'Nature', paintings_path(:theme => 'Nature', :sort_by => @sort_by), style: 'font-weight:bold;' %></li>
	  <li><%= link_to 'Portrait', paintings_path(:theme => 'Portrait', :sort_by => @sort_by), style: 'font-weight:bold;' %></li>
	  <li><%= link_to 'Still Life', paintings_path(:theme => 'Still Life', :sort_by => @sort_by), style: 'font-weight:bold;' %></li>
	  <li><%= link_to 'Urban', paintings_path(:theme => 'Urban', :sort_by => @sort_by), style: 'font-weight:bold;' %></li>
	  <li><%= link_to 'Other', paintings_path(:theme => 'Other', :sort_by => @sort_by), style: 'font-weight:bold;' %></li>
	  <li> <%= link_to 'Authors', artists_path(spec: 'Painter'), style: 'font-weight:bold; color:#484848;' %></li>
	  <div style='display:inline-block; float:right; margin-bottom:20px; background-color:whitesmoke;'>
	  	<% unless @theme.present? %>
		  	<%= form_tag(paintings_path, :id => "sort_select", method: :get) do %>
				<strong>Sort By:</strong> <%= select_tag :sort_by, options_for_select(['Random', 'Recently added', 'Price low to high', 'Price high to low', 'Most Comments', 'Most Votes', 'Discounted Items', 'Sold Items'], selected: @sort_by), :onchange => ("$('#sort_select').submit()") %>
			<% end %>
		<% else %>
			<%= form_tag(paintings_path, :id => "sort_select", method: :get) do %>
				<strong>Sort By:</strong> <%= select_tag :sort_by, options_for_select(['Random', 'Recently added', 'Price low to high', 'Price high to low', 'Most Comments', 'Most Votes', 'Discounted Items', 'Sold Items'], selected: @sort_by), :onchange => ("$('#sort_select').submit()") %>
				<%= hidden_field_tag :theme, @theme %>
			<% end %>
		<% end %>
	  </div>
	</ol>
<% end %>

<div id='search-gonna-hide' style='width:100%; margin-bottom:25px; margin-top:15px;'>
	<%= search_form_for @q, url: paintings_path, html: { class: 'input-group', style: 'width:200px; margin-left:auto; margin-right:auto;'} do |f| %>
		<span class="input-group-btn">
			<button type='submit;' class="btn btn-default" type="button" style='-webkit-border-top-right-radius: 0px;-webkit-border-bottom-right-radius: 0px;-moz-border-radius-topright: 0px;-moz-border-radius-bottomright: 0px;border-top-right-radius: 0px;border-bottom-right-radius: 0px; border-right:none;'><i class="fa fa-search fa-lg"></i></button>
		</span><%= f.search_field :name_or_artist_name_cont, placeholder: 'Search...', class: 'form-control', style: 'margin-left:-1px;' %>
	<% end %>
</div>
</div>

<div id='loading' style='margin-left:auto; margin-right:auto; margin-top:20px; width:180px; height:130px; background-image:url("../assets/loading.gif"); background-repeat: no-repeat; background-position:-200px -150px;'>
</div>

<div id='show' style='display:none;'>
<% if @items.present? %>
	<div id="container" style='margin-left:auto; margin-right:auto;'>
	  <% @items.each do |item| %>
	    <div class='item' style='text-align:center; margin-right:20px; margin-left:20px; width:340px; margin-bottom:50px;'>
	      <%= link_to item do %>
	        <%= image_tag item.image.url(:medium), style: "margin-right:auto; margin-left:auto;-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75); margin-bottom:15px;" %>
	      <% end %>
	      <%= link_to item.name.split.map(&:capitalize)*' ', item, style: "text-decoration:none; color:#444; margin-left:auto; margin-right:auto; font-weight:bold; display:block; margin-bottom:0px;" %>
	      <%= link_to item.artist.name.split.map(&:capitalize)*' ', item.artist, style: "text-decoration:none; color:#444; margin-left:auto; margin-right:auto; margin-top:0px; display:block;" %>
	      <% if item.price.present? %><div class='price'><%= '$ '+item.price.to_s %></div><% end %>
	    </div>
	  <% end %>
	</div>

	<div style='text-align:center;'>
	   <%= will_paginate @items, renderer: BootstrapPagination::Rails %>
	</div>
</div>
<% else %>
  <script>
    var n = noty({
      text: '<p style="width:100%; margin-top:15px; margin-bottom:15px; text-align:center; font-weight:bold; font-size:120%;">No such items found.</p>',
      layout: 'topRight',
      type: 'information',
      animation: {
        open: 'animated fadeInRight', // Animate.css class names
        close: 'animated flipOutY', // Animate.css class names
        speed: 500 // unavailable - no need
      }
    });
    </script>
<% end %>

<script>
var isotopeLaunch = function(){
  var $container = $('#container');
    // init

    $container.isotope({
      // options
      itemSelector: '.item',
      layoutMode: 'fitRows',
    });
};
imagesLoaded( 'img', function(){
  $('#loading').hide();
  $('#show').show();
  isotopeLaunch();
});

 fixed = $('#fixed-top');
 offset = $('#fixed-top').offset();
  $(window).scroll(function(e){
  	width = $('#fixed-top').width();
    if ($(this).scrollTop() > offset.top && fixed.css('position') != 'fixed'){
      fixed.css({'position': 'fixed', 'top': '0px', 'z-index': '1', 'width': width+'px'});
      $('#search-gonna-hide').animate({opacity: 0});
    }else if ($(this).scrollTop() < offset.top && fixed.css('position') == 'fixed' ){
      fixed.css({'position': 'relative', 'z-index': '0'});
      $('#search-gonna-hide').animate({opacity: 1});
    }
  });
</script>