<% states = Array[ ["AK"], 
                ["AL"], 
                ["AR"], 
                ["AS"], 
                ["AZ"], 
                ["CA"], 
                ["CO"], 
                ["CT"], 
                ["DC"], 
                ["DE"], 
                ["FL"], 
                ["GA"], 
                ["GU"], 
                ["HI"], 
                ["IA"], 
                ["ID"], 
                ["IL"], 
                ["IN"], 
                ["KS"], 
                ["KY"], 
                ["LA"], 
                ["MA"], 
                ["MD"], 
                ["ME"], 
                ["MI"], 
                ["MN"], 
                ["MO"], 
                ["MS"], 
                ["MT"], 
                ["NC"], 
                ["ND"], 
                ["NE"], 
                ["NH"], 
                ["NJ"], 
                ["NM"], 
                ["NV"], 
                ["NY"], 
                ["OH"], 
                ["OK"], 
                ["OR"], 
                ["PA"], 
                ["PR"], 
                ["RI"], 
                ["SC"], 
                ["SD"], 
                ["TN"], 
                ["TX"], 
                ["UT"], 
                ["VA"], 
                ["VI"], 
                ["VT"], 
                ["WA"], 
                ["WI"], 
                ["WV"], 
                ["WY"] ] %>

<%= form_for @userinfobuild, html: { multipart: true } do |f| %>
  <% if @userinfobuild.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@userinfobuild.errors.count, "error") %> prohibited this user information from being saved:</h2>

      <ul>
      <% @userinfobuild.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :country %><br>
    <%= f.select :country, [ 'United states'], class: "form-control" %> (At the moment we only ship to United States).
  </div>

  <div class="form-group">
    <%= f.label 'State' %><br>
    <%= f.select :region, states, prompt: 'Select State', class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :city %><br>
    <%= f.text_field :city, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :address %><br>
    <%= f.text_field :address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="userinfo_zipcode">Zipcode</label><br>
    <input id='zipcode' class="form-control" id="userinfo_zipcode" name="userinfo[zipcode]" type="text">
  </div>
  <p id='zip-invalid' style='display:none; width:100%; text-align:center; color:red;'>Zip code is invalid.</p>

  <div id='submit' class="form-group">
    <%= f.submit 'Submit', class: "btn btn-primary", style: 'width:100%;' %>
  </div>
  <div id="no-submit" class="form-group" style='display:none;'>
    <input style='width:100%;' class="btn btn-default" value="Please Enter Valid Zip Code">
  </div>
<% end %>

<script>
  $(document).ready(function(){
    var delay = (function(){
      var timer = 0;
      return function(callback, ms){
        clearTimeout (timer);
        timer = setTimeout(callback, ms);
      };
    })();
   $( "#zipcode" ).keyup(function() {
    delay(function(){
     var pattern = /(\d{5}([ \-]\d{4})?)/;
      if (!pattern.test($('#zipcode').val())) {
        $('#submit').hide();
        $('#no-submit').show();
        $('#zip-invalid').show();
      }else{
        $('#no-submit').hide();
        $('#zip-invalid').hide();
        $('#submit').show();
      }
    }, 1000 );
   });
  });
</script>