<div id='comments' style='margin-top:100px;'>
	<h4 style='font-weight:bold; color:black;'>COMMENTS:</h4>
	<div class='row'>
		<div class='col-md-10' style='padding-right:0; padding-left:0;'>
			<% @item.comments.each do |comment| %>
				<div class='comment'>
					<p style='color:black; font-weight:bold; font-size:110%; margin-left:20px;'><%= comment.user.name.split.map(&:capitalize)*' ' %></p>
					<p style='margin-left:40px;'><%= comment.ccontent %></p>
				</div>
			<% end %>
		</div>
	</div>
	<% if user_signed_in? %>
		<%= form_for @commentbuild, :html => {class: 'form-group', style: 'margin-top:30px;'}, remote: true do |f| %>
			<%= f.text_area :ccontent, :placeholder => 'Leave a comment here', class: 'form-control', style: 'resize:none; width:73.3%; height:100px; display:inline-block;-webkit-border-top-right-radius: 0;-webkit-border-bottom-right-radius: 0;-moz-border-radius-topright: 0;-moz-border-radius-bottomright: 0;border-top-right-radius: 0;border-bottom-right-radius: 0;' %><%= f.submit 'Leave Comment', class: 'btn btn-default leaveComment'%>
			<%= f.hidden_field :item_id, :value => @item.id %>
		<% end %>
	<% else %>
		<p>You need to be signed into your account to leave a comment.</p>
	<% end %>
</div>