<%= form_for @item, html: { multipart: true } do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :item_type %><br>
    <%= f.select :item_type, [ 'Painting', 'Enamel', 'Textile', 'Sculpture'], class: "form-control" %>
  </div>

  <div class='form-group'>
    <%= f.label :item_tag %><br>
    <%= f.select :item_tag, [ 'Abstract', 'Modern','Landscape', 'Animals', 'Urban', 'Nature', 'Portrait', 'Ring', 'Necklace', 'Bracelet', 'Earring', 'Pin', 'Icon', 'Felt', 'Batik', 'Other' ], class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :sold_out%><br>
    <%= f.select :sold_out, [['No',0],['Yes',1]], class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :date_of_creation %><br>
    <%= f.text_field :date_of_creation, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :dimensions %><br>
    <%= f.text_field :dimensions, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :weight %><br>
    <%= f.text_field :weight, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :shipping %><br>
    <%= f.text_field :shipping, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :additional_info %><br>
    <%= f.text_field :additional_info, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :price %><br>
    <%= f.text_field :price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :discount %><br>
    <%= f.text_field :discount, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.select :artist_id, options_from_collection_for_select(@artists, "id", "name") %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>