<% if current_user.try(:admin?) %>
	<a href=javascript:void(0) id='show-add-image' style='font-weight:bold; display:inline-block;'>Add Image</a> |
	<%= link_to 'Edit', edit_item_path(@item) %> |
	<%= link_to 'Back', items_path %>
	<div id="add-image">
		<%= form_for @itemimagebuild, html: { multipart: true } do |f| %>
		  <% if @itemimagebuild.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@itemimagebuild.errors.count, "error") %> prohibited this item from being saved:</h2>

		      <ul>
		      <% @itemimagebuild.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

		  <div class="form-group">
		    <%= f.label :description %><br>
		    <%= f.text_field :description, class: "form-control" %>
		  </div>

		  <div class="form-group">
		    <%= f.label :image %>
		    <%= f.file_field :image, class: "form-control" %>
		  </div>

		    <%= f.hidden_field :item_id, :value => @item.id %>

		  <div class="form-group">
		    <%= f.submit class: "btn btn-primary" %>
		    <button id='hide-add-image' class='btn btn-default'>Close</button>
		  </div>
		<% end %>
	</div>
	<div style='width:100%; border-top:solid; margin-bottom:20px; margin-top:20px;'></div>
	<script>
	$(document).ready(function(){
		$('#show-add-image').on('click', function(){
			$('#add-image').show();
			$('#show-add-image').hide();
		});
		$('#hide-add-image').on('click', function(){
			$('#add-image').hide();
			$('#show-add-image').show();
		});
	});
	</script>
<% end %>

<h3 style='margin-bottom:20px; margin-left:20px; margin-right:25px;'>"<%= @item.name %>" by <%= link_to @item.artist, style: 'text-decoration:none; color:#484848;' do %><%= @item.artist.name %><% end %><% if @item.date_of_creation.present? %>, <%= @item.date_of_creation %> <% end %></h3>

<div class='container' oncontextmenu="return false">
	<div class="row">
	  <div class="col-md-8">
	  	<div id='image-place'>
	  		<%= image_tag @item.image.url(:large), {class: "active", style: "width:100%;", id: @item.name.gsub(/ /,'-')+"-image"} %>
	  		<% @item.itemimages.each_with_index do |image, index| %>
	  			<%= image_tag image.image.url(:large), id: index.to_s+"-image", style: "display:none; width:100%;" %>
	  		<% end %>
	  	</div>
	  </div>
	  <div class="col-md-4">
	  	<p style='font-weight:bold;'>Choose Images:</p>
	  	<div class='choose-image' id='<%= @item.name.gsub(/ /,"-")+"-show" %>'>
	  		<%= image_tag @item.image.url(:small), style: "cursor:pointer;" %>
	  	</div>
		<% if @item.itemimages.present? %>
			<% @item.itemimages.each_with_index do |image, index| %>
				<div class='choose-image' id='<%= index %>-show'>
					<%= image_tag image.image.url(:small), style: "cursor:pointer;" %>
				</div>
			<% end %>
		<% end %>
		<div id='paramenters'>
			<% if @item.description.present? %>
			  	<p id='description'>
			  		<strong>Description:</strong> <%= @item.description %>
			  	</p>
			<% end %>
			<% if @item.additional_info.present? %>
				<p id='additional-info'>
					<strong>Additional info:</strong> <%= @item.additional_info %>
				</p>
			<% end %>
			<% if @item.dimensions.present? %>
	  			<p id='item-dimensions'><strong>Dimensions:</strong> <%= @item.dimensions %></p>
	  		<% end %>
	  		<% if @item.weight.present? %>
	  			<p id='item-weight'><strong>Weight:</strong> <%= @item.weight %></p>
	  		<% end %>
	  	</div>
	  	<% unless @item.sold_out == 1 %>
			<% if @item.price.present? %>
				<div id='price-place'>
					<p style='display:inline-block; font-size:150%; font-weight:bold; margin-bottom:0;'>Price:</p>
					<p style='display:inline-block; font-size:150%; margin-left:10px; margin-bottom:0;'><%= number_to_currency(@item.price) %></p>
					<p style='display:inline-block; font-size:150%; font-weight:bold; margin-left:3px; margin-bottom:0;'></p>
					<% if @item.shipping.present? %>
						<div style='margin:0; height:1px; width:100%; border-top:solid; border-color:#CCCCCC; border-width:1px;'></div>
						<p style='display:block; font-size:120%; margin-top:2px; margin-bottom:5px;'><strong>Shipping:</strong> <%= number_to_currency(@item.shipping) %></p>
					<% end %>
					<% if @item.quantity.present? %>
						<div style='margin:0; height:1px; width:100%; border-top:solid; border-color:#CCCCCC; border-width:1px;'></div>
						<p style='display:block; font-size:120%; margin-top:2px; margin-bottom:5px;'><strong>Quantity:</strong> <%= @item.quantity %></p>
					<% end %>
					<div style='margin:0; height:1px; width:100%; border-top:solid; border-color:#CCCCCC; border-width:1px; margin-top:5px;'></div>
					<% unless (@item.price+@item.shipping.to_i) > 10000 %>
						<% if user_signed_in? %>
							<% unless current_user.carts.find_by(item_id: @item.id).present? %>
									<%= link_to carts_path( :cart => { :item_id => @item.id, :user_id => current_user.id}), style: 'text-decoration:none;', :method => :post do %>
										<button class='btn btn-default' style='width:100%; text-align:center; margin-top:10px;'><span class='glyphicon glyphicon-shopping-cart'></span> Add to cart
										</button>
									<% end %>
							<% else %>
								<p style='width:100%; text-align:center; margin-top:10px; border:dashed; border-width:1px; padding:5px; margin-bottom:0px;'>This item is already in your cart</p>
							<% end %>
						<% else %>
							<% if session[:carts].present? %>
								<% unless session[:carts].include? @item.id.to_s %>
									<%= link_to carts_path( :session_cart => @item.id), style: 'text-decoration:none;' do %>
										<button class='btn btn-default' style='width:100%; text-align:center; margin-top:10px;'><span class='glyphicon glyphicon-shopping-cart'></span> Add to cart
										</button>
									<% end %>
								<% else %>
									<p style='width:100%; text-align:center; margin-top:10px; border:dashed; border-width:1px; padding:5px; margin-bottom:0px;'>This item is already in your cart</p>
								<% end %>
							<% else %>
								<%= link_to carts_path( :session_cart => @item.id), style: 'text-decoration:none;' do %>
									<button class='btn btn-default' style='width:100%; text-align:center; margin-top:10px;'><span class='glyphicon glyphicon-shopping-cart'></span> Add to cart
									</button>
								<% end %>
							<% end %>
						<% end %>
					<% else %>
						<p style='width:100%; text-align:center; margin-top:10px; border:dashed; border-width:1px; padding:5px; margin-bottom:0px;'>As this item costs more than 10,000, please contact us by email: customerservice@artiveria.com to arrange the purchase of this Item</p>
					<% end %>
				</div>
			<% else %>
				<p id='item-dimensions'><strong>Price:</strong> Upon Request.</p>
				<% if user_signed_in? %>
					<% unless current_user.pricerequests.where( :item_id => @item.id ).present? %>
						<%= link_to pricerequests_path( pricerequest: {:email => current_user.email, :item_id => @item.id, :user_id => current_user.id} ), method: :post do %><button class='btn btn-default' style='width:100%; text-align:center; margin-top:10px;'><strong>REQUEST PRICE</strong></button><% end %>
					<% else %>
						<p style='width:100%; text-align:center; margin-top:10px; border:dashed; border-width:1px; padding:5px; margin-bottom:0px;'>You have already requested price for this item.</p>
					<% end %>
				<% else %>
					<button data-toggle='modal' data-target='#requestmodal' class='btn btn-primary' style='width:100%; text-align:center; margin-top:10px;'><strong>REQUEST PRICE</strong></button>
				<% end %>
			<% end %>
		<% else %>
			<p style='width:100%; text-align:center; margin-top:10px; border:dashed; border-width:1px; padding:5px; margin-bottom:0px;'>This item has already been sold out.</p>
		<% end %>
			<div id='likes'>
			  	<% if user_signed_in? %>
		  			<% unless current_user.likes.find_by(:item_id => @item.id).present? %>
				  		<%= link_to likes_path(like: {:item_id => @item.id}), style: 'text-decoration:none; color:#484848;', method: :post, remote: true do %>
				  			<button class='btn btn-default' style='width:100%; text-align:center; margin-top:10px'>
						  		<i class="fa fa-heart fa-lg" style='color:#c0392b;'></i> Add To Favorites
						  	</button>
						<% end %>
					<% else %>
				  		<%= link_to like_path(current_user.likes.find_by(:item_id => @item.id)), style: 'text-decoration:none; color:#484848;', method: :delete, remote: true do %>
				  			<button class='btn btn-default' style='width:100%; text-align:center; margin-top:10px'>
						  		<i class="fa fa-heart fa-lg" style='color:#484848;'></i> Remove From Favorites
						  	</button>
						<% end %>
					<% end %>
				<% else %>
					<button id='not-logged-in' class='btn btn-default' style='width:100%; text-align:center; margin-top:10px'>
				  		<i class="fa fa-heart fa-lg" style='color:#484848;'></i> Add to favorites
				  	</button>
				  		<script>
				  			$('#not-logged-in').on('click', function(){
					  			  var n = noty({
							      text: 'You need to sign into your account to vote.',
							      layout: 'topRight',
							      type: 'warning',
							      animation: {
							        open: 'animated fadeInRight', // Animate.css class names
							        close: 'animated flipOutY', // Animate.css class names
							        speed: 500 // unavailable - no need
							      },
							      buttons: [
										{addClass: 'btn btn-primary', text: 'Sing-in', onClick: function($noty) {

												// this = button element
												// $noty = $noty element

												$noty.close();
												window.location.replace('http://artiveria.com/users/sign_in');
											}
										},
										{addClass: 'btn btn-danger', text: 'Cancel', onClick: function($noty) {
												$noty.close();
											}
										}
									]
							    });
						    });
				  		</script>
				<% end %>
				<div style='width:100%; text-align:center;'>
						<a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" ><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
							<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
						<div class="fb-like" data-colorscheme='dark' data-send="true" data-width="280" data-show-faces="true" style='margin-top:10px;'></div>
				</div>
			</div>
			<% if user_signed_in? && current_user.try(:admin?) %>
				<p style='width:100%; text-align:center; margin-top:10px; border:dashed; border-width:1px; padding:5px; margin-bottom:0px;'>Favorite for <strong><%= @item.likes.count %></strong> user.</p>
			<% end %>
	  </div>
	</div>
</div>

<% if @item.artist.items.where.not(id: @item.id).present? %>
	<div style='width:100%; border-top:solid; border-top-color:#CCCCCC; border-top-width:1px; margin-bottom:10px; margin-top:20px;'></div>

	<p style='margin-bottom:20px; font-size:150%; font-weight:bold; margin-left:25px; margin-right:25px;'>
		More from <%= @item.artist.name %>:
	</p>
	<div class='on-top-of-responsive'>
		<div class="responsive">
			<% @item.artist.items.where.not(id: @item.id).each do |item| %>
				<div style='text-align:center; margin-right:15px; margin-left:15px;'>
					<%= link_to item do %> 
						<%= image_tag item.image.url(:medium), style: "margin-right:auto; margin-left:auto;-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75); margin-bottom:15px;" %>
					<% end %>
					<%= link_to item.name.split.map(&:capitalize)*' ', item, style: "text-decoration:none; color:#444; margin-left:auto; margin-right:auto; font-weight:bold; display:block; margin-bottom:0px;" %>
	      			<%= link_to item.artist.name.split.map(&:capitalize)*' ', item.artist, style: "text-decoration:none; color:#444; margin-left:auto; margin-right:auto; margin-top:0px; display:block;" %>
	      			<% if item.price.present? %><div class='price'><%= '$ '+item.price.to_s %></div><% end %>
				</div>
			<% end %>
		</div>
	</div>
<% end %>

<div id='comments' style='margin-top:100px;'>
  <% if @item.comments.present? %>
	<h4 style='font-weight:bold; color:#484848;'>COMMENTS:</h4>
	<div class='row'>
		<div class='col-md-10' style='padding-right:0; padding-left:0;'>
			<% @item.comments.each do |comment| %>
				<% if comment.user.present? %>
					<div class='comment'>
						<p style='color:black; font-weight:bold; font-size:110%; margin-left:20px;'><%= comment.user.name.split.map(&:capitalize)*' ' %></p>
						<p style='margin-left:40px;'><%= comment.ccontent %></p>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
  <% end %>
	<% if user_signed_in? %>
		<%= form_for @commentbuild, :html => {class: 'form-group', style: 'margin-top:30px;'}, remote: true do |f| %>
			<%= f.text_area :ccontent, :placeholder => 'Leave a comment here', class: 'form-control', style: 'resize:none; width:73.3%; height:100px; display:inline-block;-webkit-border-top-right-radius: 0;-webkit-border-bottom-right-radius: 0;-moz-border-radius-topright: 0;-moz-border-radius-bottomright: 0;border-top-right-radius: 0;border-bottom-right-radius: 0;' %><%= f.submit 'Leave Comment', class: 'btn btn-default leaveComment'%>
			<%= f.hidden_field :item_id, :value => @item.id %>
		<% end %>
	<% end %>
</div>

<div class="modal fade" id="requestmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="margin-top:50px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel" style="font-weight:700; text-align:center;">Request Price</h4>
      </div>
      <div class="modal-body">
	      <%= form_for @pricerequestbuild, html: { multipart: true } do |f| %>
	      	  <div class="form-group">
			    <%= f.email_field :email, placeholder: 'Email...' , class: "form-control" %>
			  </div>
			  	<%= f.hidden_field :item_id, :value => @item.id %>
			  <div class="form-group">
			  	<%= f.submit 'Submit', {class: "btn btn-primary", style: "margin-left:auto; margin-right:auto;"} %>
			  </div>
	      <% end %>
  	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
var lensZoom = function(){
	$("#<%= @item.name.gsub(/ /,'-') %>-image").imageLens({ imageSrc: "<%= @item.image.url %>" });
	<% @item.itemimages.each_with_index do |image, index| %>
		$('#'+<%= index.to_s %>+"-image").imageLens({ imageSrc: "<%= image.image.url %>" });
	<% end %>
};

var slickCarousel = function(){
  $('.responsive').slick({
    dots: true,
    arrows: true,
    infinite: true,
    variableWidth: true,
    slidesToShow: 1,
    slidesToScroll: 1
  }); 
};

imagesLoaded( 'img', lensZoom);
imagesLoaded( 'img', slickCarousel);

$(window).resize(function(){
	$('.undefined').remove();
	lensZoom();
});

$('.choose-image').on('click', function(){
	$('.active').hide();
	$('.active').removeClass();
	$('#'+this.id.replace('-show','-image')).show();
	$('#'+this.id.replace('-show','-image')).addClass('active');
});
</script>