<!DOCTYPE html>
<html>
<head>
  <title>Artiveria</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <%= render 'layouts/header' %>

  <% flash.each do |name, msg| %>
      <script>
      var n = noty({
        text: '<p style="width:100%; margin-top:15px; margin-bottom:15px; text-align:center; font-weight:bold; font-size:120%;"><%= msg %></p>',
        layout: 'topRight',
        type: 'information',
        animation: {
          open: 'animated fadeInRight', // Animate.css class names
          close: 'animated flipOutY', // Animate.css class names
          speed: 500 // unavailable - no need
        }
      });
      </script>
  <% end %>

  <% if current_page?(root_path) %>
    <%= render "layouts/carousel" %>
  <% end %>

  <div id="page-after-navbar">
    <div class="container">
      <div class='row'>
    	 <%= yield %>
    	</div>
    </div>
  </div>

  <%= render "layouts/footer" %>


</body>
</html>
